<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= album.title %> - forFansOf</title>
    <link rel="stylesheet" href="/css/albums/show.css">
    <% include ../partials/resources.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div id="album-pic">
      <img src="<%= album.img %>">
    </div>
    <h2><%= album.title %></h2>
    <label for="tracks">Tracks:</label>
    <ol>
      <% for (let track of album.tracks) { %>
        <li><%= track %></li>
      <% } %>
    </ol>
    <a href="./<%=album.albumURL%>/edit">Edit this Album</a>
    <% include ../partials/footer.ejs %>
  </body>
</html>
