<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=artist.name%> - forFansOf</title>
    <link rel="stylesheet" href="/css/artists/show.css">
    <% include ../partials/resources.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div id="main-pic">
        <img src="<%=artist.img%>">
      </div>
      <h1><%= artist.name %></h1>
      <label>Genres:</label>
      <ul>
        <% for (let genre of artist.genres) { %>
          <li><%= genre %></li>
        <% } %>
      </ul>
      <label>Place of Origin: </label>
      <span><%= artist.from %></span>
      <br />
      <label>For Fans Of:</label>
      <ul>
        <% for (let fanOf of artist.forFansOf) { %>
          <li><%= fanOf %></li>
        <% } %>
      </ul>
      <h3>Albums by <%= artist.name %></h3>
      <div id="albums-box">
        <% for (let album of albums) { %>
          <div class="album-box">
            <a href="/album/<%= album.albumURL %>"><img src="<%= album.img %>"></a>
            <h4><a href="/album/<%= album.albumURL %>"><%= album.title %></a></h4>
          </div>
        <% } %>
      </div>
      <a href="/albums/new">Add an Album</a>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
